/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: crimson;
}
.clipboard{
    margin: 20px;
    padding: 20px;
}
.clip{
    background: white;
    width: 700px;
    height: 250px;
    margin: 20px;
    
}

::-webkit-scrollbar{
    background: transparent;
    width: 10px;
    transition: 0.4s;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#310757, #000176);
    border-radius: 100px;
    height: 12px;
}
::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: crimson;
}
.clipboard{
  margin: 20px;
  padding: 20px;
}

.clip{
    background: #fff;
    margin: 20px;
    height: 150px;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid black;
}

::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 100px;
    /* background: black; */
    background: linear-gradient(#00DBDE, #FC00FF);
}
