*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container{
   background: url("./images/thumb-1920-597965.jpg");
   height: 100vh;
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

img{
    position: absolute;
    width: 100px;
    bottom: 20px;
    right: 50px;
    cursor: pointer;
    animation: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    50%{
        transform: translateY(-20px);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.trailer-container{
    
}