*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.hero{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#08001f,#30197d);
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 800px;
    height: 180px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    background-color: red;
}

/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.clock{
    width: 800px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
} */