*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
    background: #e2e2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width: 50%;
    border: 2px solid black;
    padding: 20px ;
}
.contnet-1{
    display: inline;
}
.contnet-2{
    display: inline;
    display: none;
}
.btn{
    display: block; 
    margin-top: 30px;
    background-color: #000;
    padding: 10px 12px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
/* javascript */
.p-toggle{
    display: inline;
    display: none;
}
.contnet-2.toggle{
    display: inline;
    display: block;
}
.continue.toggle{
    display: inline;
    display: none;
}