*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --primary-color:rgb(210, 55, 55);
   --secondary-color:#e0e0e0;

}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(#ff3cac,#784ba0,#2b68c5);
}
.container{
    text-align: center;

}

.progress-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 13px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress{
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transform: 0.4s ease;
}