*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    text-align: center;
    background-color: #ccef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.container{
    padding: 6rem;
    background: #000;
}

.container h2{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 40px;
}

.container .input-container input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 4px;
  border: none;

}

.btns-container button{
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: blueviolet;
    color: #fff;
    border: none;
    margin: 10px;
    border-radius: 7px;
}
p{
    width: 600px;
    height: 600px;
    background: #ccef;
    height: 80px;
    color: #000;
    border: 1px solid #555;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}