*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    height: 100vh;
    width: 100vw;
    background: #000;

    
        display: flex;
        align-items: center;
        justify-content: center;
    
}
.user-input{
    width: 300px;
    padding: 20px;
}
.user-input input{
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    color: grey;
    font-size: 18px;
    margin-bottom: 20px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn button{
    padding: 8px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: yellow;
}
.output h4{
    color: #fff;
}

