*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(8,8,8);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}
.container{
    background: #fff;
    padding: 5rem;
    border-radius: 5px;
}

.container h1{
    text-align: center;
    margin-bottom: 40px;
}

.special{
    background: crimson;
    padding: 5px 20px;
    color: #fff;
}
form .form-control{
    position: relative;
    margin: 20px auto 40px;
    width: 300px;
}

.form-control input{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000;
    /* outline: none; */
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 10px 0px;
    color: #000;
}

.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: crimson;
}


.btn:focus{
  outline: 0;

}

.btn:active{
    transform: scale(0.98);
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}


/* javascript */
.form-control label span{

}